@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Card-container {
  break-inside: avoid;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #ffffff;
  border-radius: 17px;
  border: solid 1px #eee;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
}

.Card-container:hover {
  transform: scale(1.05);
}

.Apple-buttons {
  width: 90%;
  height: 40px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bnt-apple {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(250, 21, 0);
}

.Apple-buttons :nth-child(2) {
  background-color: rgb(244, 236, 10);
}

.Apple-buttons :nth-child(3) {
  background-color: rgb(135, 244, 10);
}

.Titulo-div {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.Titulo-div h2 {
  color: #000;
  font-size: 18px;
}

.Div-Desc {
  width: 85%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.Div-Desc p {
  color: black;
  text-align: left;
  font-weight: 300;
}

/* CÓDIGO (AQUI TÁ O PRINCIPAL 👇) */
.Div-code {
  width: 85%;
}

.Div-code pre {
  background-color: #000000; /* estilo VS Code */
  color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 13px;
}

.Div-code code {
  margin: 0;
  padding: 0;
  display: block;
}
